#VERSION=master
API_DOMAIN=api-dev.crypitor.com
WEB_DOMAIN=dev.crypitor.com
EMAIL=trongcauhcmus@gmail.com
SERVER_PORT=3002
# LOGS=error,warn,log,fatal

# Swagger Config
SWAGGER_ENABLE=true
SWAGGER_USER=admin
SWAGGER_PASSWORD=crypitor@2024

# Mongo provision
MONGO_INITDB_ROOT_USERNAME=admin
MONGO_INITDB_ROOT_PASSWORD=webhook
MONGO_INITDB_USERNAME=webhook
MONGO_INITDB_PASSWORD=webhook
MONGO_INITDB_DATABASE=webhook

# Mongo docker environment variables
DB_HOST=mongo
DB_PORT=27017
DB_DATABASE_NAME=webhook
DB_USERNAME=webhook
DB_PASSWORD=webhook

# Nest app environment variables
# DB_URL=mongodb://${DB_USERNAME}:${DB_PASSWORD}@${DB_HOST}:${DB_PORT}/${DB_DATABASE_NAME}?directConnection=true&serverSelectionTimeoutMS=2000&appName=mongosh+1.5.0
# DB_USER_URL=mongodb://webhook:webhook@127.0.0.1:27017/accounts?directConnection=true&serverSelectionTimeoutMS=2000&appName=mongosh+1.5.0&authSource=admin
# DB_SPACES_URL=mongodb://webhook:webhook@127.0.0.1:27017/spaces?directConnection=true&serverSelectionTimeoutMS=2000&appName=mongosh+1.5.0&authSource=admin
# DB_ITEMS_URL=mongodb://webhook:webhook@127.0.0.1:27017/items?directConnection=true&serverSelectionTimeoutMS=2000&appName=mongosh+1.5.0&authSource=admin
FACEBOOK_APP_CLIENT_ID={FB_APP_ID}
FACEBOOK_APP_CLIENT_SECRET={FB_CLIENT_SECRET_ID}
REACT_APP_BASE_URL=http://127.0.0.1:3000/
JWT_SECRET_KEY=12312312312312312

# Email Service Config
SMTP_HOST=
SMTP_PORT=
SMTP_USER=
SMTP_PASSWORD=
SMTP_SERNDER=

# Kafka
KAFKA_BROKERS=kafka:9092 # multi brokers split by ','

# Webhook service
WEBHOOK_API_URL=http://host.docker.internal:8000


# Blockchain environment variables
ETH_PROVIDER_URL=
EVM_DISABLE=false
EVM_START_BLOCK=10199699
EVM_START_BLOCK_CONFIG=latest # 'config' or 'latest' or 'db'

# POSTMAND ENV
POSTGRES_USER='user'
POSTGRES_PASSWORD='pass'
POSTGRES_DB='postmand'

POSTMAND_DATABASE_URL='postgres://user:pass@postgres:5432/postmand?sslmode=disable' # main database
POSTMAND_TEST_DATABASE_URL='postgres://user:pass@postgres:5432/postmand_test?sslmode=disable' # test database
POSTMAND_DATABASE_MIGRATION_DIR='file://db/migrations' # See https://github.com/golang-migrate/migrate/tree/master/source/file
POSTMAND_DATABASE_MAX_OPEN_CONNS='100' # sets the maximum number of open connections to the database
POSTMAND_POLLING_INTERVAL='200' # worker database polling interval (in miliseconds)
POSTMAND_HTTP_PORT='8000' # port for the api server
POSTMAND_HEALTH_CHECK_HTTP_PORT='8001' # port for health check server

POSTMAND_KAFKA_BROKERS='kafka:9092'